<div class= "row">
    <div class=" col-xs-3"> 
    <div class="panel panel-default">
  <div class="panel-body">
  <div span="panel-image hide-image-body"><img src="/banners.jpg" class="panel-image-preview"></div>
  <div span= "panel-footer text-center">
     <div class= "row">
         <div class="col-sm-6"><img src="/image.jpeg" heigt="90px" width="90px" class="rounded-img home-image"></div>
         <div class="col-sm-6"><h style="text-align:center;"><%= current_user.username%></h></div>
         <div class="col-sm-12" style="margin-top:5px;">
        <div class="col-sm-6" style="fontsize:80%; opacity:0.7;" >Tweets<br>
        <p style="color:blue; font-size:100%;opacity:1.2;"><%= current_user.posts.count %></p>
        </div>
        <div class="col-sm-6" style="fontsize:80%; opacity:0.7;" >Followers<br>
        <p style="color:blue; font-size:100%;opacity:1.2;">6</p>
        </div>
     </div>
  </div>
  </div>
  </div>
  <div class="panel panel-default">
  <div class="panel-body">
    <b> Trends for you</b><br>
   <a href="">#Kigali</a><br>
   <span style="color:grey;">1,945 Tweets</span><br>
   <a href="">#MondayMotivaton</a><br>
   <span style="color:grey;">9,019 Tweets</span><br>
   <a href="">#ThingsIDontRegreti</a><br>
   <span style="color:grey;">3,776 Tweets</span><br>
   <a href="">#TwitteriseUnFilm</a><br>
   <span style="color:grey;">1,469 Tweets</span><br>

  </div>
  </div>
</div>
    
  </div>  
   
 <div class="col-xs-6">
     <%= paginate @posts %>
   <%= page_entries_info @posts %>
     <%= render '/components/post_form' %><br><br>
      <% for @p in @posts %>  
    <div class="panel panel-default post-panel">
       <div class="panel-body row">
           <div class= "col-sm-1">
              <img src="/logo.png" heigt= "50px" width= "50px"></img>
           </div>
           <div class="col-sm-11">
          <p class="post-content"> <small><b><%= User.find(@p.user_id).username%>- <%= @p.created_at.to_formatted_s(:short)%></b></b></small><br>
          <%= @p.content %> </p> <br>
           <p  class="post-link">
           <span class="glyphicon glyphicon-comment g-links" aria-hidden="true"></span>
           <span class="glyphicon glyphicon-retweet g-links"aria-hidden="true"></span>
           <span class="glyphicon glyphicon-heart g-links" aria-hidden="true"></span>
           <span class="glyphicon glyphicon-envelope g-links" aria-hidden="true"></span>
           
           </p>
           </div>
     </div>
     
          </div>
       <% end %> 
       
       <div class="panel panel-default post-panel">
       <div class="panel-body row">
           <div class="col-sm-12">
               <center> <img src="/Twitter_Logo_Blue.png" heigt="25px" width="25px"></img>
               <a href="#top"> <p class=" opacity:.7; color:grey;"> Back to Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></p></a>
               </center>
           </div>
     </div>
     
          </div>
</div>
  
<div class=" col-xs-3">
    <div class="panel panel-default">
  <div class="panel-body">
    <p style="opacity:0.5; fontsize:90%">© 2018 Patrick About HelpCentre Terms Privacypolicy Cookies Adsinfo Brand Blog Status Apps Jobs Marketing Businesses Developers</p>
  </div>
  
    </div>
        

 </div>
    
</div>





